
<div class="col-lg-10 col-lg-offset-1">
  <h1>Editing Wiki</h1>
  <div class="well clearfix">
    <%= render 'form' %>
  </div>
  <div>
    <%= link_to 'Show', @wiki %> |
    <%= link_to 'Back', wikis_path %>
  </div>
  <br />
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var editor = new EpicEditor().load();
  });
</script>
